.vscode/**
.vscode-test/**
src/**
webview-ui/src/**
webview-ui/tsconfig.json
webview-ui/tsconfig.node.json
.gitignore
vite.config.ts
tsconfig.json
tsconfig.tsbuildinfo
**/*.map
.eslintrc.json
**/*.ts
!out/**/*.js
test-*.log
pnpm-lock.yaml
package-lock.json
node_modules/**
*.vsix
**/*.log